<% if current_user %>
  <h3>Organization: <%= @tenant.name %></h3>
  <%= render 'projects/list' %>
<% else %>
<div class="jumbotron text-center">
		<h2><strong>Welcome to ProjectCamp</strong></h2>
		<h3>
			manage your projects better
		</h3>
		<br />
</div>

<div class="row">
	<div class="col-md-6 text-center">
		<div class="well">
			<h3>Basic Plan</h3>
			<h4>Free</h4>
			<h4>Unlimited file uploads</h4>
			<h4>Access anywhere</h4>
			<h4>One project</h4>
			<br />
			<div class="form-group">
			  <%= link_to 'Sign Up', new_user_registration_path(plan: 'free'), class: 'btn btn-success btn-lg' %>
			</div>
		</div>
	</div>
	
	<div class="col-md-6 text-center">
		<div class="well">
			<h3>Pro Membership</h3>
			<h4>$10/month</h4>
			<h4>Unlimited file uploads</h4>
			<h4>Access anywhere</h4>
			<h4>Unlimited projects</h4>

			<br />
			<div class="form-group">
			  <%= link_to 'Sign Up', new_user_registration_path(plan: 'premium'), class: 'btn btn-primary btn-lg' %>
			</div>
		</div>
	</div>
</div>
<% end %>